.page-background {
  background-color: #f5bc51;
  height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease;
}

.left {
  display: none;
  transition: 0.5s ease;
}

.angle {
  display: none;
  transition: 0.5s ease;
}

.register {
  display: none;
  transition: 0.5s ease;
}

.form-container {
  /* height: 80%; */
  width: 95%;
  background-color: whitesmoke;
  margin: 0 auto;
  border-radius: 5px;
  max-width: 500px;
  max-height: 750px;
}

.info-bar {
  height: 80px;
  width: 100%;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.info-bar-container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  box-sizing: border-box;
}

.info-bar-title {
  font-size: 15px;
  margin: 0;
  color: #f5bc51;
  grid-row: 2 / 3;
  cursor: pointer;
  vertical-align: -webkit-baseline-middle;
}

.link {
  padding-right: 5px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
  color: #333;
}

.sign-in-button {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  text-align: right;
  color: #333;
}

.form {
  height: calc(100% - 80px);
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 20px;
}

.label {
  display: block;
  font-weight: bolder;
  font-size: 13px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  color: rgb(196, 195, 194);
}

.input {
  display: block;
  margin: 0 auto;
  width: 80%;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid rgb(216, 214, 212);
  outline: none;
  height: 30px;
  padding-left: 10px;
  margin-top: 5px;
  font-size: 20px;
}

.button-container {
  width: 80%;
  margin: 0 auto;
}

.button {
  width: 45%;
  margin-top: 30px;
  height: 60px;
  border: none;
  font-weight: bolder;
  border-radius: 5px;
  margin-bottom: 40px;
  transition: 0.5s ease;
}

.button:hover {
  transform: scale(1.1);
}

.submit-button {
  background-color: #4f4a8b;
  color: white;
  font-size: 18px;
}

.facebook-button {
  font-size: 17px;
  float: right;
  background-color: #f5c059;
  color: #876424;
}

.facebook-logo {
  margin-right: 10px;
  font-size: 20px;
}

@media only screen and (min-width: 1024px) {
  .right {
    transition: 0.5s ease;
    width: 50%;
    float: right;
  }

  .left {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 0.5s ease;
    width: 50%;
    height: 100%;
    float: left;
    background: linear-gradient(rgba(76, 72, 114, 0.75), rgba(76, 72, 114, 0.9)),
      url(https://images.unsplash.com/photo-1494522358652-f30e61a60313?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c39e2e693011b17dfc47d070250419fc&auto=format&fit=crop&w=2550&q=80)
        no-repeat center center;
    background-size: cover;
  }

  .register {
    display: block;
    grid-row: 2 / 3;
    font-size: 8vw;
    color: white;
    margin: 0 auto;
  }

  /* .angle {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #4f4a8b;
    transform: skewX(-12deg);
    transform-origin: 0;
  } */
}
